
body{
    background-image: url(https://media.gettyimages.com/photos/white-marble-patterned-texture-background-picture-id511661914?b=1&k=6&m=511661914&s=612x612&w=0&h=Qjm1wU6xViG-IS-5D6sRPqxEKqqkzrWyWEupKOLr-H4=);
}

.topnav {
    background-color: #4E5F8F;
    overflow: hidden;
}

.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #161B2C;
    color: white;
}

.topnav a.active {
    color: white;
    background-color: #333F5F;
}

img.logo{
    float: left;
    height: 55px;
    border: white 2px;
    padding: 4px;
    background-color: #4E5F8F;
}

* {
    box-sizing: border-box;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    background-color: #f2f2f2;
    padding: 10px;
}

h1{
    color: #333F5F;
    padding-top: 16px;
    font-size: 60px;
}

p{
    color: #333F5F;
    font-size: 20px;
}

label{
    color: #333F5F;
}

.column {
    float: left;
    width: 100%;
    margin-top: 6px;
    padding: 20px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
@media screen and (max-width: 600px) {
    .column, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}